.header{
	background: url(../img/bg/1.jpg.png) center ( center / cover) no-repeat;
	width: 100%;
	min-height: 680px;
	font-family: 'Roboto', sans-serif;
	.container{
		.row{
			font-family: 'Roboto', sans-serif;
			align-items: center;
			padding-top: 25px;
			.menu{
				display: flex;
				justify-content: space-between;
				list-style-type: none;
				li{
					margin-right: 10px;
					padding-right: 10px;
					border-right: solid 1px grey;
					&:nth-child(6){
						border-right: none;
					}
				   a{
						color: #ffffff;
						font-size: 15px;
						line-height: 16px;
						font-weight: 400;
						&:hover{
							cursor: pointer;
							color: #ec644b;
					   }
				   }
				}
				
			}
		}
	}
	.number{
		font-family: 'Roboto', sans-serif;
		padding-bottom: 15px;
		margin-left: 50px;
		&__descr{
			font-size: 14px;
			line-height: 24px;
			font-weight: 300;
			color: #ffffff;
			text-align: right;
		}
		a{	
			cursor: pointer ;
			font-size: 19px;
			line-height: 24px;
			font-weight: 700;
			color: #ffffff;
			&:hover{
				color: #ec644b;
				text-decoration: none;
			}
		}
	}
	.button{
		margin-left: 19px;
		padding-bottom: 10px;
		text-align: center;
		
		.menu{
			text-align: center;
			width: 160px;
			height: 45px;
			background-color: #ec644b;
			border: none;
			font-size: 12px;
			line-height: 22px;
			font-weight: 400;
			text-transform: uppercase;
			color: #ffffff;
			align-items: center;
			border-radius: 20px;
			padding-left: 23px;
			cursor: pointer;
			&:hover{
				background-color: #c2280c;
			}
			&:focus{
				outline: none;
			}
		}
	}
	.head_logo{
		font-family: 'Roboto', sans-serif;
		padding-top: 50px;
		text-align: center;
		font-size: 24px;
		line-height: 1.2;
		font-weight: 300;
		color: #ffffff;
	}
	.title{
		font-family: 'Roboto Condensed', sans-serif;
		text-align: center;
		margin-top: 26px;
		font-size: 72px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		color: #ec644b;
	}
	.subtitle{
		font-family: 'Roboto Condensed', sans-serif;
		margin-top: 9px;
		text-align: center;
		font-size: 42px;
		line-height: 1.2;
		font-weight: 400;
		text-transform: uppercase;
		color: #ffffff;
	}
	.hr{
		padding-top: 38px;
		width: 80%;
		display: block;
		margin: 0 auto;
	}
	.advantages{
		font-family: 'Roboto', sans-serif;
		width: 100%;
		display: flex;
		justify-content: center;
		text-align: center;
		padding-top: 27px;
		&__descr{
			max-width: 400px;
			.img{
				display: block;
				margin: 0 auto;
				width: 64px;
				height: 48px;
				img{
					
				}
			}
			.descr{
				margin-top: 20px;
				font-size: 16px;
				line-height: 22px;
				font-weight: 300;
				color: #ffffff;
			}
		}
	}
	.button{
		font-family: 'Roboto', sans-serif;
		border: none ;
		border-radius: 20px ;
		.subheader{
			width: 230px;
			height: 57px;
			background-color: #ec644b;
			margin-top: 39px ;
			margin-bottom: 81px;
			font-size: 15px;
			line-height: 17px;
			font-weight: 700;
			text-transform: uppercase;
			color: #ffffff;
			border: none ;
			border-radius: 20px ;
			cursor: pointer;
			&:hover{
				background-color: #c2280c;
			}
			&:focus{
				outline: none;
			}

		}
	}

}